## Ignorar ajustes de vscode
.vscode

## Ignorar los archivos generados por la compilación de LaTex en la Practica01
Practica01/main.aux
Practica01/main.bbl
Practica01/main.bcf
Practica01/main.blg
Practica01/main.log
Practica01/main.out
Practica01/main.run.xml

## Ignorar todo lo que genera el entorno creado para el bot (P01)
Practica01/src/venv
Practica01/src/*.sqlite3

## Ignorar los archivos generados por la compilación de LaTex en la Practica02
Practica02/main.aux
Practica02/main.bbl
Practica02/main.bcf
Practica02/main.blg
Practica02/main.log
Practica02/main.out
Practica02/main.run.xml

## Ignorar los archivos generados por la compilación de LaTex en la Practica03
Practica03/main.aux
Practica03/main.bbl
Practica03/main.bcf
Practica03/main.blg
Practica03/main.log
Practica03/main.out
Practica03/main.run.xml

## Ignorar los archivos generados por la compilación de LaTex en la Practica04
Practica04/main.aux
Practica04/main.bbl
Practica04/main.bcf
Practica04/main.blg
Practica04/main.log
Practica04/main.out
Practica04/main.run.xml
Practica04/build

## Ignorar los archivos generados por la compilación de LaTex en la Practica05
Practica05/practica05.aux
Practica05/practica05.bbl
Practica05/practica05.bcf
Practica05/practica05.blg
Practica05/practica05.log
Practica05/practica05.out
Practica05/practica05.run.xml
Practica05/build

## Ignorar los archivos generados por la compilación de LaTex en la Practica06
Practica06/practica06.aux
Practica06/practica06.bbl
Practica06/practica06.bcf
Practica06/practica06.blg
Practica06/practica06.log
Practica06/practica06.out
Practica06/practica06.run.xml
Practica06/practica06.toc
Practica06/build

## Ignorar los archivos generados por la compilación de LaTex en la Practica06
Practica07/practica07.aux
Practica07/practica07.bbl
Practica07/practica07.bcf
Practica07/practica07.blg
Practica07/practica07.log
Practica07/practica07.out
Practica07/practica07.run.xml
Practica07/practica07.toc
Practica07/build